RewriteEngine on
RewriteRule ^([0-9]+)$ /$1/ [R]
RewriteRule ^([0-9]+)/$ /view.php?id=$1
#RewriteRule ^random.*$ /view.php?id=-1
#RewriteRule ^gallery/?([0-9]*)$ /gallery.php?p=$1
#RewriteRule ^latest.*$ /view.php?id=-2
